{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Managment App </title>
    <script src="https://kit.fontawesome.com/8c84869a4d.js" crossorigin="anonymous"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&family=DM+Sans:wght@700&family=Montserrat:wght@200&family=Poppins:wght@100;200;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&family=Poppins:wght@100;200;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&family=DM+Sans:wght@700&family=Poppins:wght@100;200;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/LandingPage.css' %}">
</head>
<body>
    <section id=LandingPage>
        <div class="navbar">
            <h1 class=Logo>Fantu</h1>
            <ul class=container>
                <li class=content><a href="#LandingPage">Home</a></li>
                <li class=content><a href="#WhatWeDo">About us</a></li>
                <li class=content><a href="#Howit">How it works</a></li>
                <li class=content><a href="/">Services</a></li>
                <li class=content><a href="#footer">Contact</a></li>
                <a href="{% url 'register'%}">
                    <button class=button>Join now</button>
                </a>
            </ul>  
        </div>
        <div class="heroSection">
            <h1 class=Text>Search and Order groceries Remotely from your <br> home or any other places</h1>
            <div class="search">
                <input type="text" class=input placeholder="Find your grocerys here...">
                <div class="searchIcon">
                    <a href="\"><i class="fas fa-search" ></i></a>
                </div>
            </div>
            <button class=searchButton>Search</button>
            

        </div>
    </section>
    <section id=WhatWeDo>
        <div class=txt1>
            <div class=txt>
            <h1> What do we do? </h1>
            <p> Covid-19 will likely have a permanent effects on the way we work and interact <br>
                 in busy places such as the grocery store. The idea for this app was born in an <br> effort to reduce exposure by helping people 
                find what they need quickly rather <br> than spending a lot of time going through the shopping store.</p>
                <div class=image>
                    <img src="/man_in_veg.png" alt="Man in veg">    
            </div>
  
            </div>
        </div>




    </section>
    <section id=Howit>
        <div class=FullText>
            <h1>How Does it Work?</h1>
            <ul class=cont>
                <p class=list> 1. Create an account and register </p>
                <p class=list> 2. Search and choose your item to buy </p>
                <p class=list> 3. Place your order and add a location for delivery </p>
            </ul>
        </div>
    </section>
    <section id=footer>
        <footer class=container>
            <div class="row">
                <div class="footer_col1">
                    <h1>Privacy</h1>
                    <ul>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer_col2">
                    <h2>Help</h2>
                    <ul>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Call center</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
    
        </footer>
    </section>
</body>
</html>